{
    "singleQuote": true,
    "printWidth": 120,
    "trailingComma": "none",
    "arrowParens": "always",
    "tabWidth": 4,
    "semi": true,
    "vueIndentScriptAndStyle": true,
    "htmlWhitespaceSensitivity": "ignore",
    "jsxBracketSameLine": true
}
